body{
  background-color:  #F2EB9C!important;
}
header{
  height: 20%;
  width: 100%;
  margin: 0;
}

#navhamb{
  background-color: #7edbc5!important;
  background-image: url(http://img.fenixzone.net/i/iLqVs2Y.png);
  background-size: 90rem;
  width: 100%;
  padding: 0rem;
}
.nav-link, .dropdown-toggle, .dropdown-menu, .dropdown-item{
  background-color: #ACD8D7!important;
  border-color: #000000!important;
  margin-left: 10px;
} 

a:hover { 
  background-color: #EFEDB8!important;
  cursor: pointer;
}

#logo-movie{
  margin-left: 20px;
  cursor: pointer;
}

img{
  height: 150px;
  width: 130px;
  margin-right: 600px;
  margin-left: 25px;
  background-color: #ACD8D7!important;
  margin-top: 10px;
  margin-bottom: 10px;
}



.btn-color, .btn-primary{

  background-color: #82C1BF!important;
  border: none!important;
  border-radius: 20px!important;

}

button:hover{
  border:none!important;
  background-color:black!important;

}

.btn-color{

  background-color: #93DEDB!important;
  border: none!important;
  border-radius: 20px!important;

}

button:hover{
  border:none!important;
  background-color: #F7EB69!important;

}

#carouselExampleIndicators{
  margin-top: 20px;
  margin-left: 100px;
}

#carouseltext{
  background-color: #E0D989;
  opacity: 0.70;
  filter: alpha(opacity=70);
  color: black
}

#carouseltext:hover{
  box-shadow: 0 0 15px rgba(0,0,0,.5);
}

.menuTitle{
  margin-left: 1rem;
  font-weight: 500;
}

.card{
  height: auto;
  margin-top: 40px;
  background-color: #E0D989!important;
  margin-bottom: 20px;
  margin-left: 30px;
}

.card-body{
  height: auto;
  background-color: #E0D989!important;
}


.card:hover{
  box-shadow: 0 0 15px rgba(0,0,0,.5);
}

#carouseltext{
  background-color: #E0D989;
  opacity: 0.70;
  filter: alpha(opacity=70);
  color: black
}

.modal.fade{
  text-align: center;
  opacity: 1;
}
.modal-content{
  border-radius: 20px;
  background-color: #96B4B2!important;
  opacity: 0.90;
  filter: alpha(opacity=90);
  color:black;
}
.card-img-modal{
  width: 200px;
  text-align: center;
  height: 200px;
}

